body {
    margin: 0;
    background: #f7efe6;
  }

  .wrapper {
    width: 400vw;
    height: 100vh;

    display: flex;
    flex-direction: row;

    overflow-x: hidden;
    
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

  }
  .container {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 135px 100px 50px 100px 300px;
    gap: 10px;

    padding: 25px;
    box-sizing: border-box;
  }


  .header {

    grid-column-start: 1;
    grid-column-end: 4;
    border: 5px solid black;
  }

  .header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content-title {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
  }
  
  .title {
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 900;
    
  }
  
  .content-large {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    border: 3px solid black;
  }

  .content-large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content-small {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  
  .Sumeru {
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    font-size: 50px;
  }

  .content-small2 {
    grid-column-start: 3;
    grid-column-end: 4;
    border: 2px solid black;
  }

  .content-small2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content-small3 {
    grid-column-start: 3;
    grid-column-end: 4;
    border: 3px solid black;
  }

  .content-small3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container2 {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-rows: 350px 235px 135px;
    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
  }


  .content-horizontal {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-right: 20px;
    border: 1px solid black;
  }

  .content-horizontal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content-large2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 10px;
    border: 1px solid black;
  }

  .content-large2a {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 10px;
    border: 1px solid black;
  }


  .content-medium2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .content-medium2a {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 10px;
    border: 1px solid black;
  }

  .content-smallpage2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 10px;
    border: 1px solid black;
  }

  .container3 {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 500px 475px 1fr 1fr;
    grid-template-rows: 300px 235px 170px;
    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
  }


  .content-large3 {
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 10px;
    border: 1px solid black;
  }
  
  .content-medium3 {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 10px;
    border: 1px solid black;
  }

  .content-medium3a {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .content-medium3b {
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 10px;
    border: 1px solid black;
  }


  .content-horizontal3 {
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 10px;
    border: 1px solid black;
  }

  .content-horizontal3a {
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 10px;
    border: 1px solid black;
  }
